################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/PortableLowPowerAlarm/Debug
/PortableLowPowerAlarm/__vm
/PortableLowPowerAlarm/PortableLowPowerAlarm.vcxproj.user
/PortableLowPowerAlarm/PortableLowPowerAlarm.vcxproj.filters
/Output-MicroBuild.txt
/PortableLowPowerAlarm/Release
PortableLowPowerAlarm/ARM/
PortableLowPowerAlarm/x64/
portableLowPower_new/Debug/
portableLowPower_new/Release/
portableLowPower_new/__vm/
fritzing/Hp8816.db
